﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="
    min-height: 35px;
    background-color:#5D3100;
    height: 36px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;">
        <div class="container" style="height: 35px;">
            <div class="navbar-header" style="height: 35px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="height: 35px;
padding-left: 0px;padding-right: 0px;height: 36px;background-color:#5D3100;
">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Позиционка", "Index", "Home", new { area = ""}, new { @class = "navbar-brand",style = "padding-top:7px"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Комнаты", "Labels", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial",new{ style = "padding-top:7px;color:#A47D46"})
            </div>
        </div>
    </div>
    <div class="container body-content" style="
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/chess2Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
