.border-container{
    position: static;
    border:1px solid red;
    top:0px;
    left: 0px;
    background: white;
    width: 1263px;
    height: 2650px;
}
.body1{
margin: 0;
padding: 0;
font-family: tahoma;
font-size: 9px;
}
table {
    position: static;
    border: 1px solid #000000;
    margin: 0;
    padding: 0;
    top: 10px;
    left: 10px;
    
}
.Wskltr {
    background: khaki;
}
    table tr td {
        table-layout: fixed;
        width: 77px;
        height: 20px;
        /*background: khaki;*/
    }

.bl {
  background: #bd925b;  
}


.myblock IMG {display: none;}
