﻿
body {
    border: 1px;
    background: #5D3100;
}
    .doska{
    width: 100%;
    color: blue;
    background:#5D3100;}
#notation{
    color:darksalmon;        
    background:#5D3100;border:none;}
    .Title{
        position:inherit;
        top:auto;
        left:12px;
        height: 85px;
    color:deeppink;
    background-color:#5D3100;   
border: none;}
    .board{
        position:absolute;
        /*width=189px; 
        height=900px;*/        
         top: 160px;
         left: 14px;
        background-color:#5D3100;}

    .Positionka{
        position:absolute;
        top: -8px;
        left: 550px;
        color: chartreuse;}

    .Mat{left: 300px;}
    .Pos{left: 10px;}
    .Ataka{left: 550px;}
    .Def{left:700px;}
    .Total{left: 900px;}
.Total1 {
    left:1070px;
}
    .Menu{left: 1100px; top: 200px;}
.Titles{position:absolute;top: 40px;color: deeppink;}   
.textbox{position:inherit;
    width:200px; 
    height:20px; }

.textbox1 {
    position: inherit;
    height: 14px;
    width: 684px;
}
#pgn {
    color: darksalmon;
    background: #5D3100;
    border: none;
}

/*
   .WP5:hover{position:absolute;border: 0px;
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        -ms-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
        transition: all 2s ease-in-out;
        top: 506px;
        left:654px;
        z-index: 3;cursor:-moz-grab;cursor:-webkit-grab;}
*/

.left {
    left: 30px;
   
}
.right {
    left: 1000px;
  
}       
   /*.a {border: 0px;  }*/
   .a:hover img {
   border:2px /*solid rgba(255,77,45,0)*/; /* Рамка при наведении на ссылку курсора мыши */
   }
.light{position: absolute;}
 
/*
.light1{position: absolute;top:498.33px;left:296px; background-color: greenyellow;z-index: 3;
width:70px; height=70px; }
    .notacia
*/
    
.button{position:inherit;top: 167px;left:303px;z-index: 3;}
.Figures{position:absolute;z-index:2;cursor:-moz-grab;cursor:-webkit-grab;}
.Rook{position:inherit;z-index: 2;cursor:-moz-grab;cursor:-webkit-grab;}
#box1 {
    top: 525px;
    font-size:0px;
}

.mainTable {
    position: inherit;
    table-layout:fixed;
    width: 100%;
    height: 77px;
    background: #7d4d07;
}
.boxTable {
    max-height: 127px;
    border: 1px solid #000000;
    font-size: 0px;
    margin: 0;
    padding: 0;
    top: 10px;
    left: 10px;
    position: inherit;
    background-image: url('../../img/ячейки для шахмат горизонтальные.png');
}
.black {
        background: #A26814;
}
.white {
      background: #D5B258;
}
.logo {    
    height:10%;
    top: 85px;
}
@keyframes move {
    100% {
        top: 0px;
        left: 0px;
    }
}
@keyframes moveToBox {

    100% {
        top: 0px;
        left: 0px;
     width:100%;
     height:100%;
    }
}
