﻿@{
    ViewBag.Title = "Белый Склад";
}



<div class="border-container">
    <h3>@Html.ActionLink("Главная", "Index")</h3>
        <h1>Белый склад</h1>

        <!-- Король -->
        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Влияние короля</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklKa8"> </td>
                    <td id="WsklKb8" class="bl"> </td>
                    <td id="WsklKc8"> </td>
                    <td id="WsklKd8" class="bl"> </td>
                    <td id="WsklKe8"> </td>
                    <td id="WsklKf8" class="bl"> </td>
                    <td id="WsklKg8"> </td>
                    <td id="WsklKh8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklKa7" class="bl"> </td>
                    <td id="WsklKb7"> </td>
                    <td id="WsklKc7" class="bl"> </td>
                    <td id="WsklKd7"> </td>
                    <td id="WsklKe7" class="bl"> </td>
                    <td id="WsklKf7"> </td>
                    <td id="WsklKg7" class="bl"> </td>
                    <td id="WsklKh7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklKa6"> </td>
                    <td id="WsklKb6" class="bl"> </td>
                    <td id="WsklKc6"> </td>
                    <td id="WsklKd6" class="bl"> </td>
                    <td id="WsklKe6"> </td>
                    <td id="WsklKf6" class="bl"> </td>
                    <td id="WsklKg6"> </td>
                    <td id="WsklKh6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklKa5" class="bl"> </td>
                    <td id="WsklKb5"> </td>
                    <td id="WsklKc5" class="bl"> </td>
                    <td id="WsklKd5"> </td>
                    <td id="WsklKe5" class="bl"> </td>
                    <td id="WsklKf5"> </td>
                    <td id="WsklKg5" class="bl"> </td>
                    <td id="WsklKh5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklKa4"> </td>
                    <td id="WsklKb4" class=" klet bl"> </td>
                    <td id="WsklKc4"> </td>
                    <td id="WsklKd4" class="bl"> </td>
                    <td id="WsklKe4"> </td>
                    <td id="WsklKf4" class="bl"> </td>
                    <td id="WsklKg4"> </td>
                    <td id="WsklKh4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklKa3" class="bl"> </td>
                    <td id="WsklKb3"> </td>
                    <td id="WsklKc3" class="bl"> </td>
                    <td id="WsklKd3"> </td>
                    <td id="WsklKe3" class="bl"> </td>
                    <td id="WsklKf3"> </td>
                    <td id="WsklKg3" class="bl"> </td>
                    <td id="WsklKh3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklKa2"> </td>
                    <td id="WsklKb2" class="bl"> </td>
                    <td id="WsklKc2"> </td>
                    <td id="WsklKd2" class="bl"> </td>
                    <td id="WsklKe2"> </td>
                    <td id="WsklKf2" class="bl"> </td>
                    <td id="WsklKg2"> </td>
                    <td id="WsklKh2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklKa1" class="bl"> </td>
                    <td id="WsklKb1"> </td>
                    <td id="WsklKc1" class="bl"> </td>
                    <td id="WsklKd1"> </td>
                    <td id="WsklKe1" class="bl"> </td>
                    <td id="WsklKf1"> </td>
                    <td id="WsklKg1" class="bl"> </td>
                    <td id="WsklKh1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Конь1-->
        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Влияние коня1</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklKn1a8"> </td>
                    <td id="WsklKn1b8" class="bl"> </td>
                    <td id="WsklKn1c8"> </td>
                    <td id="WsklKn1d8" class="bl"> </td>
                    <td id="WsklKn1e8"> </td>
                    <td id="WsklKn1f8" class="bl"> </td>
                    <td id="WsklKn1g8"> </td>
                    <td id="WsklKn1h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklKn1a7" class="bl"> </td>
                    <td id="WsklKn1b7"> </td>
                    <td id="WsklKn1c7" class="bl"> </td>
                    <td id="WsklKn1d7"> </td>
                    <td id="WsklKn1e7" class="bl"> </td>
                    <td id="WsklKn1f7"> </td>
                    <td id="WsklKn1g7" class="bl"> </td>
                    <td id="WsklKn1h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklKn1a6"> </td>
                    <td id="WsklKn1b6" class="bl"> </td>
                    <td id="WsklKn1c6"> </td>
                    <td id="WsklKn1d6" class="bl"> </td>
                    <td id="WsklKn1e6"> </td>
                    <td id="WsklKn1f6" class="bl"> </td>
                    <td id="WsklKn1g6"> </td>
                    <td id="WsklKn1h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklKn1a5" class="bl"> </td>
                    <td id="WsklKn1b5"> </td>
                    <td id="WsklKn1c5" class="bl"> </td>
                    <td id="WsklKn1d5"> </td>
                    <td id="WsklKn1e5" class="bl"> </td>
                    <td id="WsklKn1f5"> </td>
                    <td id="WsklKn1g5" class="bl"> </td>
                    <td id="WsklKn1h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklKn1a4"> </td>
                    <td id="WsklKn1b4" class="bl"> </td>
                    <td id="WsklKn1c4"> </td>
                    <td id="WsklKn1d4" class="bl"> </td>
                    <td id="WsklKn1e4"> </td>
                    <td id="WsklKn1f4" class="bl"> </td>
                    <td id="WsklKn1g4"> </td>
                    <td id="WsklKn1h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklKn1a3" class="bl"> </td>
                    <td id="WsklKn1b3"> </td>
                    <td id="WsklKn1c3" class="bl"> </td>
                    <td id="WsklKn1d3"> </td>
                    <td id="WsklKn1e3" class="bl"> </td>
                    <td id="WsklKn1f3"> </td>
                    <td id="WsklKn1g3" class="bl"> </td>
                    <td id="WsklKn1h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklKn1a2"> </td>
                    <td id="WsklKn1b2" class="bl"></td>
                    <td id="WsklKn1c2"> </td>
                    <td id="WsklKn1d2" class="bl"> </td>
                    <td id="WsklKn1e2"> </td>
                    <td id="WsklKn1f2" class="bl"> </td>
                    <td id="WsklKn1g2"> </td>
                    <td id="WsklKn1h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklKn1a1" class="bl"> </td>
                    <td id="WsklKn1b1"> </td>
                    <td id="WsklKn1c1" class="bl"> </td>
                    <td id="WsklKn1d1"> </td>
                    <td id="WsklKn1e1" class="bl"> </td>
                    <td id="WsklKn1f1"> </td>
                    <td id="WsklKn1g1" class="bl"> </td>
                    <td id="WsklKn1h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Конь2-->
        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Влияние коня2</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklKn2a8"> </td>
                    <td id="WsklKn2b8" class="bl"> </td>
                    <td id="WsklKn2c8"> </td>
                    <td id="WsklKn2d8" class="bl"> </td>
                    <td id="WsklKn2e8"> </td>
                    <td id="WsklKn2f8" class="bl"> </td>
                    <td id="WsklKn2g8"> </td>
                    <td id="WsklKn2h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklKn2a7" class="bl"> </td>
                    <td id="WsklKn2b7"> </td>
                    <td id="WsklKn2c7" class="bl"> </td>
                    <td id="WsklKn2d7"> </td>
                    <td id="WsklKn2e7" class="bl"> </td>
                    <td id="WsklKn2f7"> </td>
                    <td id="WsklKn2g7" class="bl"> </td>
                    <td id="WsklKn2h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklKn2a6"> </td>
                    <td id="WsklKn2b6" class="bl"> </td>
                    <td id="WsklKn2c6"> </td>
                    <td id="WsklKn2d6" class="bl"> </td>
                    <td id="WsklKn2e6"> </td>
                    <td id="WsklKn2f6" class="bl"> </td>
                    <td id="WsklKn2g6"> </td>
                    <td id="WsklKn2h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklKn2a5" class="bl"> </td>
                    <td id="WsklKn2b5"> </td>
                    <td id="WsklKn2c5" class="bl"> </td>
                    <td id="WsklKn2d5"> </td>
                    <td id="WsklKn2e5" class="bl"> </td>
                    <td id="WsklKn2f5"> </td>
                    <td id="WsklKn2g5" class="bl"> </td>
                    <td id="WsklKn2h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklKn2a4"> </td>
                    <td id="WsklKn2b4" class="bl"> </td>
                    <td id="WsklKn2c4"> </td>
                    <td id="WsklKn2d4" class="bl"> </td>
                    <td id="WsklKn2e4"> </td>
                    <td id="WsklKn2f4" class="bl"> </td>
                    <td id="WsklKn2g4"> </td>
                    <td id="WsklKn2h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklKn2a3" class="bl"> </td>
                    <td id="WsklKn2b3"> </td>
                    <td id="WsklKn2c3" class="bl"> </td>
                    <td id="WsklKn2d3"> </td>
                    <td id="WsklKn2e3" class="bl"> </td>
                    <td id="WsklKn2f3"> </td>
                    <td id="WsklKn2g3" class="bl"> </td>
                    <td id="WsklKn2h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklKn2a2"> </td>
                    <td id="WsklKn2b2" class="bl"></td>
                    <td id="WsklKn2c2"> </td>
                    <td id="WsklKn2d2" class="bl"> </td>
                    <td id="WsklKn2e2"> </td>
                    <td id="WsklKn2f2" class="bl"> </td>
                    <td id="WsklKn2g2"> </td>
                    <td id="WsklKn2h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklKn2a1" class="bl"> </td>
                    <td id="WsklKn2b1"> </td>
                    <td id="WsklKn2c1" class="bl"> </td>
                    <td id="WsklKn2d1"> </td>
                    <td id="WsklKn2e1" class="bl"> </td>
                    <td id="WsklKn2f1"> </td>
                    <td id="WsklKn2g1" class="bl"> </td>
                    <td id="WsklKn2h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--2Коня-->
        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Влияние коней</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="Wskl2Kna8"> </td>
                    <td id="Wskl2Knb8" class="bl"> </td>
                    <td id="Wskl2Knc8"> </td>
                    <td id="Wskl2Knd8" class="bl"> </td>
                    <td id="Wskl2Kne8"> </td>
                    <td id="Wskl2Knf8" class="bl"> </td>
                    <td id="Wskl2Kng8"> </td>
                    <td id="Wskl2Knh8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="Wskl2Kna7" class="bl"> </td>
                    <td id="Wskl2Knb7"> </td>
                    <td id="Wskl2Knc7" class="bl"> </td>
                    <td id="Wskl2Knd7"> </td>
                    <td id="Wskl2Kne7" class="bl"> </td>
                    <td id="Wskl2Knf7"> </td>
                    <td id="Wskl2Kng7" class="bl"> </td>
                    <td id="Wskl2Knh7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="Wskl2Kna6"> </td>
                    <td id="Wskl2Knb6" class="bl"> </td>
                    <td id="Wskl2Knc6"> </td>
                    <td id="Wskl2Knd6" class="bl"> </td>
                    <td id="Wskl2Kne6"> </td>
                    <td id="Wskl2Knf6" class="bl"> </td>
                    <td id="Wskl2Kng6"> </td>
                    <td id="Wskl2Knh6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="Wskl2Kna5" class="bl"> </td>
                    <td id="Wskl2Knb5"> </td>
                    <td id="Wskl2Knc5" class="bl"> </td>
                    <td id="Wskl2Knd5"> </td>
                    <td id="Wskl2Kne5" class="bl"> </td>
                    <td id="Wskl2Knf5"> </td>
                    <td id="Wskl2Kng5" class="bl"> </td>
                    <td id="Wskl2Knh5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="Wskl2Kna4"> </td>
                    <td id="Wskl2Knb4" class="bl"> </td>
                    <td id="Wskl2Knc4"> </td>
                    <td id="Wskl2Knd4" class="bl"> </td>
                    <td id="Wskl2Kne4"> </td>
                    <td id="Wskl2Knf4" class="bl"> </td>
                    <td id="Wskl2Kng4"> </td>
                    <td id="Wskl2Knh4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="Wskl2Kna3" class="bl"> </td>
                    <td id="Wskl2Knb3"> </td>
                    <td id="Wskl2Knc3" class="bl"> </td>
                    <td id="Wskl2Knd3"> </td>
                    <td id="Wskl2Kne3" class="bl"> </td>
                    <td id="Wskl2Knf3"> </td>
                    <td id="Wskl2Kng3" class="bl"> </td>
                    <td id="Wskl2Knh3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="Wskl2Kna2"> </td>
                    <td id="Wskl2Knb2" class="bl"></td>
                    <td id="Wskl2Knc2"> </td>
                    <td id="Wskl2Knd2" class="bl"> </td>
                    <td id="Wskl2Kne2"> </td>
                    <td id="Wskl2Knf2" class="bl"> </td>
                    <td id="Wskl2Kng2"> </td>
                    <td id="Wskl2Knh2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="Wskl2Kna1" class="bl"> </td>
                    <td id="Wskl2Knb1"> </td>
                    <td id="Wskl2Knc1" class="bl"> </td>
                    <td id="Wskl2Knd1"> </td>
                    <td id="Wskl2Kne1" class="bl"> </td>
                    <td id="Wskl2Knf1"> </td>
                    <td id="Wskl2Kng1" class="bl"> </td>
                    <td id="Wskl2Knh1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Слон1-->
        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Влияние слона1</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklB1a8"> </td>
                    <td id="WsklB1b8" class="bl"> </td>
                    <td id="WsklB1c8"> </td>
                    <td id="WsklB1d8" class="bl"> </td>
                    <td id="WsklB1e8"> </td>
                    <td id="WsklB1f8" class="bl"> </td>
                    <td id="WsklB1g8"> </td>
                    <td id="WsklB1h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklB1a7" class="bl"> </td>
                    <td id="WsklB1b7"> </td>
                    <td id="WsklB1c7" class="bl"> </td>
                    <td id="WsklB1d7"> </td>
                    <td id="WsklB1e7" class="bl"> </td>
                    <td id="WsklB1f7"> </td>
                    <td id="WsklB1g7" class="bl"> </td>
                    <td id="WsklB1h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklB1a6"> </td>
                    <td id="WsklB1b6" class="bl"> </td>
                    <td id="WsklB1c6"> </td>
                    <td id="WsklB1d6" class="bl"> </td>
                    <td id="WsklB1e6"> </td>
                    <td id="WsklB1f6" class="bl"> </td>
                    <td id="WsklB1g6"> </td>
                    <td id="WsklB1h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklB1a5" class="bl"> </td>
                    <td id="WsklB1b5"> </td>
                    <td id="WsklB1c5" class="bl"> </td>
                    <td id="WsklB1d5"> </td>
                    <td id="WsklB1e5" class="bl"> </td>
                    <td id="WsklB1f5"> </td>
                    <td id="WsklB1g5" class="bl"> </td>
                    <td id="WsklB1h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklB1a4"> </td>
                    <td id="WsklB1b4" class="bl"> </td>
                    <td id="WsklB1c4"> </td>
                    <td id="WsklB1d4" class="bl"> </td>
                    <td id="WsklB1e4"> </td>
                    <td id="WsklB1f4" class="bl"> </td>
                    <td id="WsklB1g4"> </td>
                    <td id="WsklB1h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklB1a3" class="bl"> </td>
                    <td id="WsklB1b3"> </td>
                    <td id="WsklB1c3" class="bl"> </td>
                    <td id="WsklB1d3"> </td>
                    <td id="WsklB1e3" class="bl"> </td>
                    <td id="WsklB1f3"> </td>
                    <td id="WsklB1g3" class="bl"> </td>
                    <td id="WsklB1h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklB1a2"> </td>
                    <td id="WsklB1b2" class="bl"></td>
                    <td id="WsklB1c2"> </td>
                    <td id="WsklB1d2" class="bl"> </td>
                    <td id="WsklB1e2"> </td>
                    <td id="WsklB1f2" class="bl"> </td>
                    <td id="WsklB1g2"> </td>
                    <td id="WsklB1h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklB1a1" class="bl"> </td>
                    <td id="WsklB1b1"> </td>
                    <td id="WsklB1c1" class="bl"> </td>
                    <td id="WsklB1d1"> </td>
                    <td id="WsklB1e1" class="bl"> </td>
                    <td id="WsklB1f1"> </td>
                    <td id="WsklB1g1" class="bl"> </td>
                    <td id="WsklB1h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Слон2-->
        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Влияние слона2</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklB2a8"> </td>
                    <td id="WsklB2b8" class="bl"> </td>
                    <td id="WsklB2c8"> </td>
                    <td id="WsklB2d8" class="bl"> </td>
                    <td id="WsklB2e8"> </td>
                    <td id="WsklB2f8" class="bl"> </td>
                    <td id="WsklB2g8"> </td>
                    <td id="WsklB2h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklB2a7" class="bl"> </td>
                    <td id="WsklB2b7"> </td>
                    <td id="WsklB2c7" class="bl"> </td>
                    <td id="WsklB2d7"> </td>
                    <td id="WsklB2e7" class="bl"> </td>
                    <td id="WsklB2f7"> </td>
                    <td id="WsklB2g7" class="bl"> </td>
                    <td id="WsklB2h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklB2a6"> </td>
                    <td id="WsklB2b6" class="bl"> </td>
                    <td id="WsklB2c6"> </td>
                    <td id="WsklB2d6" class="bl"> </td>
                    <td id="WsklB2e6"> </td>
                    <td id="WsklB2f6" class="bl"> </td>
                    <td id="WsklB2g6"> </td>
                    <td id="WsklB2h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklB2a5" class="bl"> </td>
                    <td id="WsklB2b5"> </td>
                    <td id="WsklB2c5" class="bl"> </td>
                    <td id="WsklB2d5"> </td>
                    <td id="WsklB2e5" class="bl"> </td>
                    <td id="WsklB2f5"> </td>
                    <td id="WsklB2g5" class="bl"> </td>
                    <td id="WsklB2h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklB2a4"> </td>
                    <td id="WsklB2b4" class="bl"> </td>
                    <td id="WsklB2c4"> </td>
                    <td id="WsklB2d4" class="bl"> </td>
                    <td id="WsklB2e4"> </td>
                    <td id="WsklB2f4" class="bl"> </td>
                    <td id="WsklB2g4"> </td>
                    <td id="WsklB2h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklB2a3" class="bl"> </td>
                    <td id="WsklB2b3"> </td>
                    <td id="WsklB2c3" class="bl"> </td>
                    <td id="WsklB2d3"> </td>
                    <td id="WsklB2e3" class="bl"> </td>
                    <td id="WsklB2f3"> </td>
                    <td id="WsklB2g3" class="bl"> </td>
                    <td id="WsklB2h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklB2a2"> </td>
                    <td id="WsklB2b2" class="bl"></td>
                    <td id="WsklB2c2"> </td>
                    <td id="WsklB2d2" class="bl"> </td>
                    <td id="WsklB2e2"> </td>
                    <td id="WsklB2f2" class="bl"> </td>
                    <td id="WsklB2g2"> </td>
                    <td id="WsklB2h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklB2a1" class="bl"> </td>
                    <td id="WsklB2b1"> </td>
                    <td id="WsklB2c1" class="bl"> </td>
                    <td id="WsklB2d1"> </td>
                    <td id="WsklB2e1" class="bl"> </td>
                    <td id="WsklB2f1"> </td>
                    <td id="WsklB2g1" class="bl"> </td>
                    <td id="WsklB2h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Слоны-->
        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Влияние слонов</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="Wskl2Ba8"> </td>
                    <td id="Wskl2Bb8" class="bl"> </td>
                    <td id="Wskl2Bc8"> </td>
                    <td id="Wskl2Bd8" class="bl"> </td>
                    <td id="Wskl2Be8"> </td>
                    <td id="Wskl2Bf8" class="bl"> </td>
                    <td id="Wskl2Bg8"> </td>
                    <td id="Wskl2Bh8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="Wskl2Ba7" class="bl"> </td>
                    <td id="Wskl2Bb7"> </td>
                    <td id="Wskl2Bc7" class="bl"> </td>
                    <td id="Wskl2Bd7"> </td>
                    <td id="Wskl2Be7" class="bl"> </td>
                    <td id="Wskl2Bf7"> </td>
                    <td id="Wskl2Bg7" class="bl"> </td>
                    <td id="Wskl2Bh7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="Wskl2Ba6"> </td>
                    <td id="Wskl2Bb6" class="bl"> </td>
                    <td id="Wskl2Bc6"> </td>
                    <td id="Wskl2Bd6" class="bl"> </td>
                    <td id="Wskl2Be6"> </td>
                    <td id="Wskl2Bf6" class="bl"> </td>
                    <td id="Wskl2Bg6"> </td>
                    <td id="Wskl2Bh6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="Wskl2Ba5" class="bl"> </td>
                    <td id="Wskl2Bb5"> </td>
                    <td id="Wskl2Bc5" class="bl"> </td>
                    <td id="Wskl2Bd5"> </td>
                    <td id="Wskl2Be5" class="bl"> </td>
                    <td id="Wskl2Bf5"> </td>
                    <td id="Wskl2Bg5" class="bl"> </td>
                    <td id="Wskl2Bh5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="Wskl2Ba4"> </td>
                    <td id="Wskl2Bb4" class="bl"> </td>
                    <td id="Wskl2Bc4"> </td>
                    <td id="Wskl2Bd4" class="bl"> </td>
                    <td id="Wskl2Be4"> </td>
                    <td id="Wskl2Bf4" class="bl"> </td>
                    <td id="Wskl2Bg4"> </td>
                    <td id="Wskl2Bh4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="Wskl2Ba3" class="bl"> </td>
                    <td id="Wskl2Bb3"> </td>
                    <td id="Wskl2Bc3" class="bl"> </td>
                    <td id="Wskl2Bd3"> </td>
                    <td id="Wskl2Be3" class="bl"> </td>
                    <td id="Wskl2Bf3"> </td>
                    <td id="Wskl2Bg3" class="bl"> </td>
                    <td id="Wskl2Bh3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="Wskl2Ba2"> </td>
                    <td id="Wskl2Bb2" class="bl"></td>
                    <td id="Wskl2Bc2"> </td>
                    <td id="Wskl2Bd2" class="bl"> </td>
                    <td id="Wskl2Be2"> </td>
                    <td id="Wskl2Bf2" class="bl"> </td>
                    <td id="Wskl2Bg2"> </td>
                    <td id="Wskl2Bh2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="Wskl2Ba1" class="bl"> </td>
                    <td id="Wskl2Bb1"> </td>
                    <td id="Wskl2Bc1" class="bl"> </td>
                    <td id="Wskl2Bd1"> </td>
                    <td id="Wskl2Be1" class="bl"> </td>
                    <td id="Wskl2Bf1"> </td>
                    <td id="Wskl2Bg1" class="bl"> </td>
                    <td id="Wskl2Bh1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Ладья1-->
        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Влияние ладьи1</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklR1a8"> </td>
                    <td id="WsklR1b8" class="bl"> </td>
                    <td id="WsklR1c8"> </td>
                    <td id="WsklR1d8" class="bl"> </td>
                    <td id="WsklR1e8"> </td>
                    <td id="WsklR1f8" class="bl"> </td>
                    <td id="WsklR1g8"> </td>
                    <td id="WsklR1h8" class="bl"> </td>
                </tr class="Wskltr">
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklR1a7" class="bl"> </td>
                    <td id="WsklR1b7"> </td>
                    <td id="WsklR1c7" class="bl"> </td>
                    <td id="WsklR1d7"> </td>
                    <td id="WsklR1e7" class="bl"> </td>
                    <td id="WsklR1f7"> </td>
                    <td id="WsklR1g7" class="bl"> </td>
                    <td id="WsklR1h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklR1a6"> </td>
                    <td id="WsklR1b6" class="bl"> </td>
                    <td id="WsklR1c6"> </td>
                    <td id="WsklR1d6" class="bl"> </td>
                    <td id="WsklR1e6"> </td>
                    <td id="WsklR1f6" class="bl"> </td>
                    <td id="WsklR1g6"> </td>
                    <td id="WsklR1h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklR1a5" class="bl"> </td>
                    <td id="WsklR1b5"> </td>
                    <td id="WsklR1c5" class="bl"> </td>
                    <td id="WsklR1d5"> </td>
                    <td id="WsklR1e5" class="bl"> </td>
                    <td id="WsklR1f5"> </td>
                    <td id="WsklR1g5" class="bl"> </td>
                    <td id="WsklR1h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklR1a4"> </td>
                    <td id="WsklR1b4" class="bl"> </td>
                    <td id="WsklR1c4"> </td>
                    <td id="WsklR1d4" class="bl"> </td>
                    <td id="WsklR1e4"> </td>
                    <td id="WsklR1f4" class="bl"> </td>
                    <td id="WsklR1g4"> </td>
                    <td id="WsklR1h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklR1a3" class="bl"> </td>
                    <td id="WsklR1b3"> </td>
                    <td id="WsklR1c3" class="bl"> </td>
                    <td id="WsklR1d3"> </td>
                    <td id="WsklR1e3" class="bl"> </td>
                    <td id="WsklR1f3"> </td>
                    <td id="WsklR1g3" class="bl"> </td>
                    <td id="WsklR1h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklR1a2"> </td>
                    <td id="WsklR1b2" class="bl"></td>
                    <td id="WsklR1c2"> </td>
                    <td id="WsklR1d2" class="bl"> </td>
                    <td id="WsklR1e2"> </td>
                    <td id="WsklR1f2" class="bl"> </td>
                    <td id="WsklR1g2"> </td>
                    <td id="WsklR1h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklR1a1" class="bl"> </td>
                    <td id="WsklR1b1"> </td>
                    <td id="WsklR1c1" class="bl"> </td>
                    <td id="WsklR1d1"> </td>
                    <td id="WsklR1e1" class="bl"> </td>
                    <td id="WsklR1f1"> </td>
                    <td id="WsklR1g1" class="bl"> </td>
                    <td id="WsklR1h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Ладья2-->
        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Влияние ладьи2</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklR2a8"> </td>
                    <td id="WsklR2b8" class="bl"> </td>
                    <td id="WsklR2c8"> </td>
                    <td id="WsklR2d8" class="bl"> </td>
                    <td id="WsklR2e8"> </td>
                    <td id="WsklR2f8" class="bl"> </td>
                    <td id="WsklR2g8"> </td>
                    <td id="WsklR2h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklR2a7" class="bl"> </td>
                    <td id="WsklR2b7"> </td>
                    <td id="WsklR2c7" class="bl"> </td>
                    <td id="WsklR2d7"> </td>
                    <td id="WsklR2e7" class="bl"> </td>
                    <td id="WsklR2f7"> </td>
                    <td id="WsklR2g7" class="bl"> </td>
                    <td id="WsklR2h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklR2a6"> </td>
                    <td id="WsklR2b6" class="bl"> </td>
                    <td id="WsklR2c6"> </td>
                    <td id="WsklR2d6" class="bl"> </td>
                    <td id="WsklR2e6"> </td>
                    <td id="WsklR2f6" class="bl"> </td>
                    <td id="WsklR2g6"> </td>
                    <td id="WsklR2h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklR2a5" class="bl"> </td>
                    <td id="WsklR2b5"> </td>
                    <td id="WsklR2c5" class="bl"> </td>
                    <td id="WsklR2d5"> </td>
                    <td id="WsklR2e5" class="bl"> </td>
                    <td id="WsklR2f5"> </td>
                    <td id="WsklR2g5" class="bl"> </td>
                    <td id="WsklR2h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklR2a4"> </td>
                    <td id="WsklR2b4" class="bl"> </td>
                    <td id="WsklR2c4"> </td>
                    <td id="WsklR2d4" class="bl"> </td>
                    <td id="WsklR2e4"> </td>
                    <td id="WsklR2f4" class="bl"> </td>
                    <td id="WsklR2g4"> </td>
                    <td id="WsklR2h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklR2a3" class="bl"> </td>
                    <td id="WsklR2b3"> </td>
                    <td id="WsklR2c3" class="bl"> </td>
                    <td id="WsklR2d3"> </td>
                    <td id="WsklR2e3" class="bl"> </td>
                    <td id="WsklR2f3"> </td>
                    <td id="WsklR2g3" class="bl"> </td>
                    <td id="WsklR2h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklR2a2"> </td>
                    <td id="WsklR2b2" class="bl"></td>
                    <td id="WsklR2c2"> </td>
                    <td id="WsklR2d2" class="bl"> </td>
                    <td id="WsklR2e2"> </td>
                    <td id="WsklR2f2" class="bl"> </td>
                    <td id="WsklR2g2"> </td>
                    <td id="WsklR2h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklR2a1" class="bl"> </td>
                    <td id="WsklR2b1"> </td>
                    <td id="WsklR2c1" class="bl"> </td>
                    <td id="WsklR2d1"> </td>
                    <td id="WsklR2e1" class="bl"> </td>
                    <td id="WsklR2f1"> </td>
                    <td id="WsklR2g1" class="bl"> </td>
                    <td id="WsklR2h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Ладьи-->
        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Влияние ладей</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="Wskl2Ra8"> </td>
                    <td id="Wskl2Rb8" class="bl"> </td>
                    <td id="Wskl2Rc8"> </td>
                    <td id="Wskl2Rd8" class="bl"> </td>
                    <td id="Wskl2Re8"> </td>
                    <td id="Wskl2Rf8" class="bl"> </td>
                    <td id="Wskl2Rg8"> </td>
                    <td id="Wskl2Rh8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="Wskl2Ra7" class="bl"> </td>
                    <td id="Wskl2Rb7"> </td>
                    <td id="Wskl2Rc7" class="bl"> </td>
                    <td id="Wskl2Rd7"> </td>
                    <td id="Wskl2Re7" class="bl"> </td>
                    <td id="Wskl2Rf7"> </td>
                    <td id="Wskl2Rg7" class="bl"> </td>
                    <td id="Wskl2Rh7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="Wskl2Ra6"> </td>
                    <td id="Wskl2Rb6" class="bl"> </td>
                    <td id="Wskl2Rc6"> </td>
                    <td id="Wskl2Rd6" class="bl"> </td>
                    <td id="Wskl2Re6"> </td>
                    <td id="Wskl2Rf6" class="bl"> </td>
                    <td id="Wskl2Rg6"> </td>
                    <td id="Wskl2Rh6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="Wskl2Ra5" class="bl"> </td>
                    <td id="Wskl2Rb5"> </td>
                    <td id="Wskl2Rc5" class="bl"> </td>
                    <td id="Wskl2Rd5"> </td>
                    <td id="Wskl2Re5" class="bl"> </td>
                    <td id="Wskl2Rf5"> </td>
                    <td id="Wskl2Rg5" class="bl"> </td>
                    <td id="Wskl2Rh5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="Wskl2Ra4"> </td>
                    <td id="Wskl2Rb4" class="bl"> </td>
                    <td id="Wskl2Rc4"> </td>
                    <td id="Wskl2Rd4" class="bl"> </td>
                    <td id="Wskl2Re4"> </td>
                    <td id="Wskl2Rf4" class="bl"> </td>
                    <td id="Wskl2Rg4"> </td>
                    <td id="Wskl2Rh4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="Wskl2Ra3" class="bl"> </td>
                    <td id="Wskl2Rb3"> </td>
                    <td id="Wskl2Rc3" class="bl"> </td>
                    <td id="Wskl2Rd3"> </td>
                    <td id="Wskl2Re3" class="bl"> </td>
                    <td id="Wskl2Rf3"> </td>
                    <td id="Wskl2Rg3" class="bl"> </td>
                    <td id="Wskl2Rh3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="Wskl2Ra2"> </td>
                    <td id="Wskl2Rb2" class="bl"></td>
                    <td id="Wskl2Rc2"> </td>
                    <td id="Wskl2Rd2" class="bl"> </td>
                    <td id="Wskl2Re2"> </td>
                    <td id="Wskl2Rf2" class="bl"> </td>
                    <td id="Wskl2Rg2"> </td>
                    <td id="Wskl2Rh2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="Wskl2Ra1" class="bl"> </td>
                    <td id="Wskl2Rb1"> </td>
                    <td id="Wskl2Rc1" class="bl"> </td>
                    <td id="Wskl2Rd1"> </td>
                    <td id="Wskl2Re1" class="bl"> </td>
                    <td id="Wskl2Rf1"> </td>
                    <td id="Wskl2Rg1" class="bl"> </td>
                    <td id="Wskl2Rh1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Ферзь-->
        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Влияние ферзя</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklQa8"> </td>
                    <td id="WsklQb8" class="bl"> </td>
                    <td id="WsklQc8"> </td>
                    <td id="WsklQd8" class="bl"> </td>
                    <td id="WsklQe8"> </td>
                    <td id="WsklQf8" class="bl"> </td>
                    <td id="WsklQg8"> </td>
                    <td id="WsklQh8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklQa7" class="bl"> </td>
                    <td id="WsklQb7"> </td>
                    <td id="WsklQc7" class="bl"> </td>
                    <td id="WsklQd7"> </td>
                    <td id="WsklQe7" class="bl"> </td>
                    <td id="WsklQf7"> </td>
                    <td id="WsklQg7" class="bl"> </td>
                    <td id="WsklQh7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklQa6"> </td>
                    <td id="WsklQb6" class="bl"> </td>
                    <td id="WsklQc6"> </td>
                    <td id="WsklQd6" class="bl"> </td>
                    <td id="WsklQe6"> </td>
                    <td id="WsklQf6" class="bl"> </td>
                    <td id="WsklQg6"> </td>
                    <td id="WsklQh6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklQa5" class="bl"> </td>
                    <td id="WsklQb5"> </td>
                    <td id="WsklQc5" class="bl"> </td>
                    <td id="WsklQd5"> </td>
                    <td id="WsklQe5" class="bl"> </td>
                    <td id="WsklQf5"> </td>
                    <td id="WsklQg5" class="bl"> </td>
                    <td id="WsklQh5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklQa4"> </td>
                    <td id="WsklQb4" class="bl"> </td>
                    <td id="WsklQc4"> </td>
                    <td id="WsklQd4" class="bl"> </td>
                    <td id="WsklQe4"> </td>
                    <td id="WsklQf4" class="bl"> </td>
                    <td id="WsklQg4"> </td>
                    <td id="WsklQh4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklQa3" class="bl"> </td>
                    <td id="WsklQb3"> </td>
                    <td id="WsklQc3" class="bl"> </td>
                    <td id="WsklQd3"> </td>
                    <td id="WsklQe3" class="bl"> </td>
                    <td id="WsklQf3"> </td>
                    <td id="WsklQg3" class="bl"> </td>
                    <td id="WsklQh3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklQa2"> </td>
                    <td id="WsklQb2" class="bl"></td>
                    <td id="WsklQc2"> </td>
                    <td id="WsklQd2" class="bl"> </td>
                    <td id="WsklQe2"> </td>
                    <td id="WsklQf2" class="bl"> </td>
                    <td id="WsklQg2"> </td>
                    <td id="WsklQh2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklQa1" class="bl"> </td>
                    <td id="WsklQb1"> </td>
                    <td id="WsklQc1" class="bl"> </td>
                    <td id="WsklQd1"> </td>
                    <td id="WsklQe1" class="bl"> </td>
                    <td id="WsklQf1"> </td>
                    <td id="WsklQg1" class="bl"> </td>
                    <td id="WsklQh1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Расположение фигур-->
        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Расположение фигур</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklPolea8"> 51 </td>
                    <td id="WsklPoleb8" class="bl"> 21 </td>
                    <td id="WsklPolec8"> 31 </td>
                    <td id="WsklPoled8" class="bl"> 80 </td>
                    <td id="WsklPolee8">  90 </td>
                    <td id="WsklPolef8" class="bl"> 32 </td>
                    <td id="WsklPoleg8"> 22 </td>
                    <td id="WsklPoleh8" class="bl"> 52 </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklPolea7" class="bl"> 11 </td>
                    <td id="WsklPoleb7"> 12 </td>
                    <td id="WsklPolec7" class="bl"> 13 </td>
                    <td id="WsklPoled7"> 14 </td>
                    <td id="WsklPolee7" class="bl"> 15 </td>
                    <td id="WsklPolef7"> 16 </td>
                    <td id="WsklPoleg7" class="bl"> 17 </td>
                    <td id="WsklPoleh7"> 18 </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklPolea6"> </td>
                    <td id="WsklPoleb6" class="bl"> </td>
                    <td id="WsklPolec6"> </td>
                    <td id="WsklPoled6" class="bl"> </td>
                    <td id="WsklPolee6"> </td>
                    <td id="WsklPolef6" class="bl"> </td>
                    <td id="WsklPoleg6"> </td>
                    <td id="WsklPoleh6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklPolea5" class="bl"> </td>
                    <td id="WsklPoleb5"> </td>
                    <td id="WsklPolec5" class="bl"> </td>
                    <td id="WsklPoled5"> </td>
                    <td id="WsklPolee5" class="bl"> </td>
                    <td id="WsklPolef5"> </td>
                    <td id="WsklPoleg5" class="bl"> </td>
                    <td id="WsklPoleh5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklPolea4"> </td>
                    <td id="WsklPoleb4" class="bl"> </td>
                    <td id="WsklPolec4"> </td>
                    <td id="WsklPoled4" class="bl"> </td>
                    <td id="WsklPolee4"> </td>
                    <td id="WsklPolef4" class="bl"> </td>
                    <td id="WsklPoleg4"> </td>
                    <td id="WsklPoleh4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklPolea3" class="bl"> </td>
                    <td id="WsklPoleb3"> </td>
                    <td id="WsklPolec3" class="bl"> </td>
                    <td id="WsklPoled3"> </td>
                    <td id="WsklPolee3" class="bl"> </td>
                    <td id="WsklPolef3"> </td>
                    <td id="WsklPoleg3" class="bl"> </td>
                    <td id="WsklPoleh3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklPolea2"> 1.1 </td>
                    <td id="WsklPoleb2" class="bl"> 1.2 </td>
                    <td id="WsklPolec2"> 1.3 </td>
                    <td id="WsklPoled2" class="bl"> 1.4 </td>
                    <td id="WsklPolee2"> 1.5 </td>
                    <td id="WsklPolef2" class="bl"> 1.6 </td>
                    <td id="WsklPoleg2"> 1.7 </td>
                    <td id="WsklPoleh2" class="bl"> 1.8 </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklPolea1" class="bl"> 5.1 </td>
                    <td id="WsklPoleb1"> 2.1 </td>
                    <td id="WsklPolec1" class="bl"> 3.1 </td>
                    <td id="WsklPoled1"> 8.0 </td>
                    <td id="WsklPolee1" class="bl"> 9.0 </td>
                    <td id="WsklPolef1"> 3.2 </td>
                    <td id="WsklPoleg1" class="bl"> 2.2 </td>
                    <td id="WsklPoleh1"> 5.2 </td>
                </tr>

            </TABLE>
        </div>



        <!--Пешка а-->

        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Пешка а</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklP1a8"> </td>
                    <td id="WsklP1b8" class="bl"> </td>
                    <td id="WsklP1c8"> </td>
                    <td id="WsklP1d8" class="bl"> </td>
                    <td id="WsklP1e8"> </td>
                    <td id="WsklP1f8" class="bl"> </td>
                    <td id="WsklP1g8"> </td>
                    <td id="WsklP1h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklP1a7" class="bl"> </td>
                    <td id="WsklP1b7"> </td>
                    <td id="WsklP1c7" class="bl"> </td>
                    <td id="WsklP1d7"> </td>
                    <td id="WsklP1e7" class="bl"> </td>
                    <td id="WsklP1f7"> </td>
                    <td id="WsklP1g7" class="bl"> </td>
                    <td id="WsklP1h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklP1a6"> </td>
                    <td id="WsklP1b6" class="bl"> </td>
                    <td id="WsklP1c6"> </td>
                    <td id="WsklP1d6" class="bl"> </td>
                    <td id="WsklP1e6"> </td>
                    <td id="WsklP1f6" class="bl"> </td>
                    <td id="WsklP1g6"> </td>
                    <td id="WsklP1h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklP1a5" class="bl"> </td>
                    <td id="WsklP1b5"> </td>
                    <td id="WsklP1c5" class="bl"> </td>
                    <td id="WsklP1d5"> </td>
                    <td id="WsklP1e5" class="bl"> </td>
                    <td id="WsklP1f5"> </td>
                    <td id="WsklP1g5" class="bl"> </td>
                    <td id="WsklP1h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklP1a4"> </td>
                    <td id="WsklP1b4" class="bl"> </td>
                    <td id="WsklP1c4"> </td>
                    <td id="WsklP1d4" class="bl"> </td>
                    <td id="WsklP1e4"> </td>
                    <td id="WsklP1f4" class="bl"> </td>
                    <td id="WsklP1g4"> </td>
                    <td id="WsklP1h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklP1a3" class="bl"> </td>
                    <td id="WsklP1b3"> </td>
                    <td id="WsklP1c3" class="bl"> </td>
                    <td id="WsklP1d3"> </td>
                    <td id="WsklP1e3" class="bl"> </td>
                    <td id="WsklP1f3"> </td>
                    <td id="WsklP1g3" class="bl"> </td>
                    <td id="WsklP1h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklP1a2"> </td>
                    <td id="WsklP1b2" class="bl"></td>
                    <td id="WsklP1c2"> </td>
                    <td id="WsklP1d2" class="bl"> </td>
                    <td id="WsklP1e2"> </td>
                    <td id="WsklP1f2" class="bl"> </td>
                    <td id="WsklP1g2"> </td>
                    <td id="WsklP1h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklP1a1" class="bl"> </td>
                    <td id="WsklP1b1"> </td>
                    <td id="WsklP1c1" class="bl"> </td>
                    <td id="WsklP1d1"> </td>
                    <td id="WsklP1e1" class="bl"> </td>
                    <td id="WsklP1f1"> </td>
                    <td id="WsklP1g1" class="bl"> </td>
                    <td id="WsklP1h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Пешка b-->

        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Пешка b</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklP2a8"> </td>
                    <td id="WsklP2b8" class="bl"> </td>
                    <td id="WsklP2c8"> </td>
                    <td id="WsklP2d8" class="bl"> </td>
                    <td id="WsklP2e8"> </td>
                    <td id="WsklP2f8" class="bl"> </td>
                    <td id="WsklP2g8"> </td>
                    <td id="WsklP2h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklP2a7" class="bl"> </td>
                    <td id="WsklP2b7"> </td>
                    <td id="WsklP2c7" class="bl"> </td>
                    <td id="WsklP2d7"> </td>
                    <td id="WsklP2e7" class="bl"> </td>
                    <td id="WsklP2f7"> </td>
                    <td id="WsklP2g7" class="bl"> </td>
                    <td id="WsklP2h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklP2a6"> </td>
                    <td id="WsklP2b6" class="bl"> </td>
                    <td id="WsklP2c6"> </td>
                    <td id="WsklP2d6" class="bl"> </td>
                    <td id="WsklP2e6"> </td>
                    <td id="WsklP2f6" class="bl"> </td>
                    <td id="WsklP2g6"> </td>
                    <td id="WsklP2h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklP2a5" class="bl"> </td>
                    <td id="WsklP2b5"> </td>
                    <td id="WsklP2c5" class="bl"> </td>
                    <td id="WsklP2d5"> </td>
                    <td id="WsklP2e5" class="bl"> </td>
                    <td id="WsklP2f5"> </td>
                    <td id="WsklP2g5" class="bl"> </td>
                    <td id="WsklP2h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklP2a4"> </td>
                    <td id="WsklP2b4" class="bl"> </td>
                    <td id="WsklP2c4"> </td>
                    <td id="WsklP2d4" class="bl"> </td>
                    <td id="WsklP2e4"> </td>
                    <td id="WsklP2f4" class="bl"> </td>
                    <td id="WsklP2g4"> </td>
                    <td id="WsklP2h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklP2a3" class="bl"> </td>
                    <td id="WsklP2b3"> </td>
                    <td id="WsklP2c3" class="bl"> </td>
                    <td id="WsklP2d3"> </td>
                    <td id="WsklP2e3" class="bl"> </td>
                    <td id="WsklP2f3"> </td>
                    <td id="WsklP2g3" class="bl"> </td>
                    <td id="WsklP2h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklP2a2"> </td>
                    <td id="WsklP2b2" class="bl"></td>
                    <td id="WsklP2c2"> </td>
                    <td id="WsklP2d2" class="bl"> </td>
                    <td id="WsklP2e2"> </td>
                    <td id="WsklP2f2" class="bl"> </td>
                    <td id="WsklP2g2"> </td>
                    <td id="WsklP2h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklP2a1" class="bl"> </td>
                    <td id="WsklP2b1"> </td>
                    <td id="WsklP2c1" class="bl"> </td>
                    <td id="WsklP2d1"> </td>
                    <td id="WsklP2e1" class="bl"> </td>
                    <td id="WsklP2f1"> </td>
                    <td id="WsklP2g1" class="bl"> </td>
                    <td id="WsklP2h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Пешка c-->

        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Пешка c</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklP3a8"> </td>
                    <td id="WsklP3b8" class="bl"> </td>
                    <td id="WsklP3c8"> </td>
                    <td id="WsklP3d8" class="bl"> </td>
                    <td id="WsklP3e8"> </td>
                    <td id="WsklP3f8" class="bl"> </td>
                    <td id="WsklP3g8"> </td>
                    <td id="WsklP3h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklP3a7" class="bl"> </td>
                    <td id="WsklP3b7"> </td>
                    <td id="WsklP3c7" class="bl"> </td>
                    <td id="WsklP3d7"> </td>
                    <td id="WsklP3e7" class="bl"> </td>
                    <td id="WsklP3f7"> </td>
                    <td id="WsklP3g7" class="bl"> </td>
                    <td id="WsklP3h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklP3a6"> </td>
                    <td id="WsklP3b6" class="bl"> </td>
                    <td id="WsklP3c6"> </td>
                    <td id="WsklP3d6" class="bl"> </td>
                    <td id="WsklP3e6"> </td>
                    <td id="WsklP3f6" class="bl"> </td>
                    <td id="WsklP3g6"> </td>
                    <td id="WsklP3h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklP3a5" class="bl"> </td>
                    <td id="WsklP3b5"> </td>
                    <td id="WsklP3c5" class="bl"> </td>
                    <td id="WsklP3d5"> </td>
                    <td id="WsklP3e5" class="bl"> </td>
                    <td id="WsklP3f5"> </td>
                    <td id="WsklP3g5" class="bl"> </td>
                    <td id="WsklP3h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklP3a4"> </td>
                    <td id="WsklP3b4" class="bl"> </td>
                    <td id="WsklP3c4"> </td>
                    <td id="WsklP3d4" class="bl"> </td>
                    <td id="WsklP3e4"> </td>
                    <td id="WsklP3f4" class="bl"> </td>
                    <td id="WsklP3g4"> </td>
                    <td id="WsklP3h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklP3a3" class="bl"> </td>
                    <td id="WsklP3b3"> </td>
                    <td id="WsklP3c3" class="bl"> </td>
                    <td id="WsklP3d3"> </td>
                    <td id="WsklP3e3" class="bl"> </td>
                    <td id="WsklP3f3"> </td>
                    <td id="WsklP3g3" class="bl"> </td>
                    <td id="WsklP3h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklP3a2"> </td>
                    <td id="WsklP3b2" class="bl"></td>
                    <td id="WsklP3c2"> </td>
                    <td id="WsklP3d2" class="bl"> </td>
                    <td id="WsklP3e2"> </td>
                    <td id="WsklP3f2" class="bl"> </td>
                    <td id="WsklP3g2"> </td>
                    <td id="WsklP3h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklP3a1" class="bl"> </td>
                    <td id="WsklP3b1"> </td>
                    <td id="WsklP3c1" class="bl"> </td>
                    <td id="WsklP3d1"> </td>
                    <td id="WsklP3e1" class="bl"> </td>
                    <td id="WsklP3f1"> </td>
                    <td id="WsklP3g1" class="bl"> </td>
                    <td id="WsklP3h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Пешка d-->

        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Пешка d</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklP4a8"> </td>
                    <td id="WsklP4b8" class="bl"> </td>
                    <td id="WsklP4c8"> </td>
                    <td id="WsklP4d8" class="bl"> </td>
                    <td id="WsklP4e8"> </td>
                    <td id="WsklP4f8" class="bl"> </td>
                    <td id="WsklP4g8"> </td>
                    <td id="WsklP4h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklP4a7" class="bl"> </td>
                    <td id="WsklP4b7"> </td>
                    <td id="WsklP4c7" class="bl"> </td>
                    <td id="WsklP4d7"> </td>
                    <td id="WsklP4e7" class="bl"> </td>
                    <td id="WsklP4f7"> </td>
                    <td id="WsklP4g7" class="bl"> </td>
                    <td id="WsklP4h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklP4a6"> </td>
                    <td id="WsklP4b6" class="bl"> </td>
                    <td id="WsklP4c6"> </td>
                    <td id="WsklP4d6" class="bl"> </td>
                    <td id="WsklP4e6"> </td>
                    <td id="WsklP4f6" class="bl"> </td>
                    <td id="WsklP4g6"> </td>
                    <td id="WsklP4h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklP4a5" class="bl"> </td>
                    <td id="WsklP4b5"> </td>
                    <td id="WsklP4c5" class="bl"> </td>
                    <td id="WsklP4d5"> </td>
                    <td id="WsklP4e5" class="bl"> </td>
                    <td id="WsklP4f5"> </td>
                    <td id="WsklP4g5" class="bl"> </td>
                    <td id="WsklP4h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklP4a4"> </td>
                    <td id="WsklP4b4" class="bl"> </td>
                    <td id="WsklP4c4"> </td>
                    <td id="WsklP4d4" class="bl"> </td>
                    <td id="WsklP4e4"> </td>
                    <td id="WsklP4f4" class="bl"> </td>
                    <td id="WsklP4g4"> </td>
                    <td id="WsklP4h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklP4a3" class="bl"> </td>
                    <td id="WsklP4b3"> </td>
                    <td id="WsklP4c3" class="bl"> </td>
                    <td id="WsklP4d3"> </td>
                    <td id="WsklP4e3" class="bl"> </td>
                    <td id="WsklP4f3"> </td>
                    <td id="WsklP4g3" class="bl"> </td>
                    <td id="WsklP4h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklP4a2"> </td>
                    <td id="WsklP4b2" class="bl"></td>
                    <td id="WsklP4c2"> </td>
                    <td id="WsklP4d2" class="bl"> </td>
                    <td id="WsklP4e2"> </td>
                    <td id="WsklP4f2" class="bl"> </td>
                    <td id="WsklP4g2"> </td>
                    <td id="WsklP4h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklP4a1" class="bl"> </td>
                    <td id="WsklP4b1"> </td>
                    <td id="WsklP4c1" class="bl"> </td>
                    <td id="WsklP4d1"> </td>
                    <td id="WsklP4e1" class="bl"> </td>
                    <td id="WsklP4f1"> </td>
                    <td id="WsklP4g1" class="bl"> </td>
                    <td id="WsklP4h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Пешка e-->

        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Пешка e</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklP5a8"> </td>
                    <td id="WsklP5b8" class="bl"> </td>
                    <td id="WsklP5c8"> </td>
                    <td id="WsklP5d8" class="bl"> </td>
                    <td id="WsklP5e8"> </td>
                    <td id="WsklP5f8" class="bl"> </td>
                    <td id="WsklP5g8"> </td>
                    <td id="WsklP5h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklP5a7" class="bl"> </td>
                    <td id="WsklP5b7"> </td>
                    <td id="WsklP5c7" class="bl"> </td>
                    <td id="WsklP5d7"> </td>
                    <td id="WsklP5e7" class="bl"> </td>
                    <td id="WsklP5f7"> </td>
                    <td id="WsklP5g7" class="bl"> </td>
                    <td id="WsklP5h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklP5a6"> </td>
                    <td id="WsklP5b6" class="bl"> </td>
                    <td id="WsklP5c6"> </td>
                    <td id="WsklP5d6" class="bl"> </td>
                    <td id="WsklP5e6"> </td>
                    <td id="WsklP5f6" class="bl"> </td>
                    <td id="WsklP5g6"> </td>
                    <td id="WsklP5h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklP5a5" class="bl"> </td>
                    <td id="WsklP5b5"> </td>
                    <td id="WsklP5c5" class="bl"> </td>
                    <td id="WsklP5d5"> </td>
                    <td id="WsklP5e5" class="bl"> </td>
                    <td id="WsklP5f5"> </td>
                    <td id="WsklP5g5" class="bl"> </td>
                    <td id="WsklP5h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklP5a4"> </td>
                    <td id="WsklP5b4" class="bl"> </td>
                    <td id="WsklP5c4"> </td>
                    <td id="WsklP5d4" class="bl"> </td>
                    <td id="WsklP5e4"> </td>
                    <td id="WsklP5f4" class="bl"> </td>
                    <td id="WsklP5g4"> </td>
                    <td id="WsklP5h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklP5a3" class="bl"> </td>
                    <td id="WsklP5b3"> </td>
                    <td id="WsklP5c3" class="bl"> </td>
                    <td id="WsklP5d3"> </td>
                    <td id="WsklP5e3" class="bl"> </td>
                    <td id="WsklP5f3"> </td>
                    <td id="WsklP5g3" class="bl"> </td>
                    <td id="WsklP5h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklP5a2"> </td>
                    <td id="WsklP5b2" class="bl"></td>
                    <td id="WsklP5c2"> </td>
                    <td id="WsklP5d2" class="bl"> </td>
                    <td id="WsklP5e2"> </td>
                    <td id="WsklP5f2" class="bl"> </td>
                    <td id="WsklP5g2"> </td>
                    <td id="WsklP5h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklP5a1" class="bl"> </td>
                    <td id="WsklP5b1"> </td>
                    <td id="WsklP5c1" class="bl"> </td>
                    <td id="WsklP5d1"> </td>
                    <td id="WsklP5e1" class="bl"> </td>
                    <td id="WsklP5f1"> </td>
                    <td id="WsklP5g1" class="bl"> </td>
                    <td id="WsklP5h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Пешка f-->

        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Пешка f</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklP6a8"> </td>
                    <td id="WsklP6b8" class="bl"> </td>
                    <td id="WsklP6c8"> </td>
                    <td id="WsklP6d8" class="bl"> </td>
                    <td id="WsklP6e8"> </td>
                    <td id="WsklP6f8" class="bl"> </td>
                    <td id="WsklP6g8"> </td>
                    <td id="WsklP6h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklP6a7" class="bl"> </td>
                    <td id="WsklP6b7"> </td>
                    <td id="WsklP6c7" class="bl"> </td>
                    <td id="WsklP6d7"> </td>
                    <td id="WsklP6e7" class="bl"> </td>
                    <td id="WsklP6f7"> </td>
                    <td id="WsklP6g7" class="bl"> </td>
                    <td id="WsklP6h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklP6a6"> </td>
                    <td id="WsklP6b6" class="bl"> </td>
                    <td id="WsklP6c6"> </td>
                    <td id="WsklP6d6" class="bl"> </td>
                    <td id="WsklP6e6"> </td>
                    <td id="WsklP6f6" class="bl"> </td>
                    <td id="WsklP6g6"> </td>
                    <td id="WsklP6h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklP6a5" class="bl"> </td>
                    <td id="WsklP6b5"> </td>
                    <td id="WsklP6c5" class="bl"> </td>
                    <td id="WsklP6d5"> </td>
                    <td id="WsklP6e5" class="bl"> </td>
                    <td id="WsklP6f5"> </td>
                    <td id="WsklP6g5" class="bl"> </td>
                    <td id="WsklP6h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklP6a4"> </td>
                    <td id="WsklP6b4" class="bl"> </td>
                    <td id="WsklP6c4"> </td>
                    <td id="WsklP6d4" class="bl"> </td>
                    <td id="WsklP6e4"> </td>
                    <td id="WsklP6f4" class="bl"> </td>
                    <td id="WsklP6g4"> </td>
                    <td id="WsklP6h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklP6a3" class="bl"> </td>
                    <td id="WsklP6b3"> </td>
                    <td id="WsklP6c3" class="bl"> </td>
                    <td id="WsklP6d3"> </td>
                    <td id="WsklP6e3" class="bl"> </td>
                    <td id="WsklP6f3"> </td>
                    <td id="WsklP6g3" class="bl"> </td>
                    <td id="WsklP6h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklP6a2"> </td>
                    <td id="WsklP6b2" class="bl"></td>
                    <td id="WsklP6c2"> </td>
                    <td id="WsklP6d2" class="bl"> </td>
                    <td id="WsklP6e2"> </td>
                    <td id="WsklP6f2" class="bl"> </td>
                    <td id="WsklP6g2"> </td>
                    <td id="WsklP6h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklP6a1" class="bl"> </td>
                    <td id="WsklP6b1"> </td>
                    <td id="WsklP6c1" class="bl"> </td>
                    <td id="WsklP6d1"> </td>
                    <td id="WsklP6e1" class="bl"> </td>
                    <td id="WsklP6f1"> </td>
                    <td id="WsklP6g1" class="bl"> </td>
                    <td id="WsklP6h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Пешка g-->

        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Пешка g</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklP7a8"> </td>
                    <td id="WsklP7b8" class="bl"> </td>
                    <td id="WsklP7c8"> </td>
                    <td id="WsklP7d8" class="bl"> </td>
                    <td id="WsklP7e8"> </td>
                    <td id="WsklP7f8" class="bl"> </td>
                    <td id="WsklP7g8"> </td>
                    <td id="WsklP7h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklP7a7" class="bl"> </td>
                    <td id="WsklP7b7"> </td>
                    <td id="WsklP7c7" class="bl"> </td>
                    <td id="WsklP7d7"> </td>
                    <td id="WsklP7e7" class="bl"> </td>
                    <td id="WsklP7f7"> </td>
                    <td id="WsklP7g7" class="bl"> </td>
                    <td id="WsklP7h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklP7a6"> </td>
                    <td id="WsklP7b6" class="bl"> </td>
                    <td id="WsklP7c6"> </td>
                    <td id="WsklP7d6" class="bl"> </td>
                    <td id="WsklP7e6"> </td>
                    <td id="WsklP7f6" class="bl"> </td>
                    <td id="WsklP7g6"> </td>
                    <td id="WsklP7h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklP7a5" class="bl"> </td>
                    <td id="WsklP7b5"> </td>
                    <td id="WsklP7c5" class="bl"> </td>
                    <td id="WsklP7d5"> </td>
                    <td id="WsklP7e5" class="bl"> </td>
                    <td id="WsklP7f5"> </td>
                    <td id="WsklP7g5" class="bl"> </td>
                    <td id="WsklP7h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklP7a4"> </td>
                    <td id="WsklP7b4" class="bl"> </td>
                    <td id="WsklP7c4"> </td>
                    <td id="WsklP7d4" class="bl"> </td>
                    <td id="WsklP7e4"> </td>
                    <td id="WsklP7f4" class="bl"> </td>
                    <td id="WsklP7g4"> </td>
                    <td id="WsklP7h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklP7a3" class="bl"> </td>
                    <td id="WsklP7b3"> </td>
                    <td id="WsklP7c3" class="bl"> </td>
                    <td id="WsklP7d3"> </td>
                    <td id="WsklP7e3" class="bl"> </td>
                    <td id="WsklP7f3"> </td>
                    <td id="WsklP7g3" class="bl"> </td>
                    <td id="WsklP7h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklP7a2"> </td>
                    <td id="WsklP7b2" class="bl"></td>
                    <td id="WsklP7c2"> </td>
                    <td id="WsklP7d2" class="bl"> </td>
                    <td id="WsklP7e2"> </td>
                    <td id="WsklP7f2" class="bl"> </td>
                    <td id="WsklP7g2"> </td>
                    <td id="WsklP7h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklP7a1" class="bl"> </td>
                    <td id="WsklP7b1"> </td>
                    <td id="WsklP7c1" class="bl"> </td>
                    <td id="WsklP7d1"> </td>
                    <td id="WsklP7e1" class="bl"> </td>
                    <td id="WsklP7f1"> </td>
                    <td id="WsklP7g1" class="bl"> </td>
                    <td id="WsklP7h1"> </td>
                </tr>

            </TABLE>
        </div>
        <!--Пешка h-->

        <div class="col-md-2">
            <TABLE BORDER="0">
                <TR>
                    <TH COLSPAN=9 text-align="center">Пешка h</TH>
                </TR>
                <TR class="Wskltr">
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=1>A</TH>
                    <TH COLSPAN=1>B</TH>
                    <TH COLSPAN=1>C</TH>
                    <TH COLSPAN=1>D</TH>
                    <TH COLSPAN=1>E</TH>
                    <TH COLSPAN=1>F</TH>
                    <TH COLSPAN=1>G</TH>
                    <TH COLSPAN=1>H</TH>
                </TR>
                <tr class="Wskltr">
                    <th>8</th>
                    <td id="WsklP8a8"> </td>
                    <td id="WsklP8b8" class="bl"> </td>
                    <td id="WsklP8c8"> </td>
                    <td id="WsklP8d8" class="bl"> </td>
                    <td id="WsklP8e8"> </td>
                    <td id="WsklP8f8" class="bl"> </td>
                    <td id="WsklP8g8"> </td>
                    <td id="WsklP8h8" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>7</th>
                    <td id="WsklP8a7" class="bl"> </td>
                    <td id="WsklP8b7"> </td>
                    <td id="WsklP8c7" class="bl"> </td>
                    <td id="WsklP8d7"> </td>
                    <td id="WsklP8e7" class="bl"> </td>
                    <td id="WsklP8f7"> </td>
                    <td id="WsklP8g7" class="bl"> </td>
                    <td id="WsklP8h7"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>6</th>
                    <td id="WsklP8a6"> </td>
                    <td id="WsklP8b6" class="bl"> </td>
                    <td id="WsklP8c6"> </td>
                    <td id="WsklP8d6" class="bl"> </td>
                    <td id="WsklP8e6"> </td>
                    <td id="WsklP8f6" class="bl"> </td>
                    <td id="WsklP8g6"> </td>
                    <td id="WsklP8h6" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>5</th>
                    <td id="WsklP8a5" class="bl"> </td>
                    <td id="WsklP8b5"> </td>
                    <td id="WsklP8c5" class="bl"> </td>
                    <td id="WsklP8d5"> </td>
                    <td id="WsklP8e5" class="bl"> </td>
                    <td id="WsklP8f5"> </td>
                    <td id="WsklP8g5" class="bl"> </td>
                    <td id="WsklP8h5"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>4</th>
                    <td id="WsklP8a4"> </td>
                    <td id="WsklP8b4" class="bl"> </td>
                    <td id="WsklP8c4"> </td>
                    <td id="WsklP8d4" class="bl"> </td>
                    <td id="WsklP8e4"> </td>
                    <td id="WsklP8f4" class="bl"> </td>
                    <td id="WsklP8g4"> </td>
                    <td id="WsklP8h4" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>3</th>
                    <td id="WsklP8a3" class="bl"> </td>
                    <td id="WsklP8b3"> </td>
                    <td id="WsklP8c3" class="bl"> </td>
                    <td id="WsklP8d3"> </td>
                    <td id="WsklP8e3" class="bl"> </td>
                    <td id="WsklP8f3"> </td>
                    <td id="WsklP8g3" class="bl"> </td>
                    <td id="WsklP8h3"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>2</th>
                    <td id="WsklP8a2"> </td>
                    <td id="WsklP8b2" class="bl"></td>
                    <td id="WsklP8c2"> </td>
                    <td id="WsklP8d2" class="bl"> </td>
                    <td id="WsklP8e2"> </td>
                    <td id="WsklP8f2" class="bl"> </td>
                    <td id="WsklP8g2"> </td>
                    <td id="WsklP8h2" class="bl"> </td>
                </tr>
                <tr class="Wskltr">
                    <th>1</th>
                    <td id="WsklP8a1" class="bl"> </td>
                    <td id="WsklP8b1"> </td>
                    <td id="WsklP8c1" class="bl"> </td>
                    <td id="WsklP8d1"> </td>
                    <td id="WsklP8e1" class="bl"> </td>
                    <td id="WsklP8f1"> </td>
                    <td id="WsklP8g1" class="bl"> </td>
                    <td id="WsklP8h1"> </td>
                </tr>

            </TABLE>
        </div>
</div>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
@*<script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Content/js/koef.js"></script>
    <script src="~/Content/js/app.js"></script>



    <script type="text/javascript" src="~/Content/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui-1.7.2.custom.min.js"></script>*@
