﻿@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="raw">
        <div class="col-md-3" style="background-color: #5D3100">
            <div class="raw"></div>
        </div>
        <div class="col-md-6" style="background-color: #5D3100">
            <div class="col-md-12">
                <br />
                <h2 style="text-align: center; color: deeppink;">
                    Позиционка
                </h2>
            </div>
            <div>
                <table style="background-color: #5D3100;border-left-width: 0px;border-top-width: 0px;border-right-width: 0px;width: 800px; border: 0px;">
                    <tr style="background-color: #5D3100">
                        <td style="background-color: #5D3100">
                            <h5 style="color: chartreuse;background-color: #5D3100">
                                Материальная оценка:
                            </h5>
                        </td>
                        <td style="background-color: #5D3100">
                            <h5 style="color: chartreuse;background-color: #5D3100"> Позиционная оценка:</h5>
                        </td>
                    </tr>
                    <tr style="background-color: #5D3100">
                        <td style="background-color: #5D3100"><h5 style="color: chartreuse;background-color: #5D3100"> Атака:</h5></td>
                        <td style="background-color: #5D3100"><h5 style="color: chartreuse;background-color: #5D3100"> Защита:</h5></td>
                    </tr>

                </table>

               <div class="hidden">
                   @*<div>*@
                    Координата X:
                    <input type="text" id="mouseX">
                    Координата Y:
                    <input type="text" id="mouseY">
                    Координата X:
                   <input type="text" id="konX">
                    Координата Y:
                   <input type="text" id="konY">
                </div>
                
            </div>
        </div>
        <div class="col-md-3" style="background-color: #5D3100">


        </div>
    </div>
</div>

<div class="container" style="
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1263px;
    width: 1263px;">


    <div class="raw">
        <div class="col-md-3" style="
    padding-right: 0px;
    padding-left: 0px;">
           <p> 
                Левый блок               
               </p>
            <div class="col-md-6"></div>
                <div class="col-md-6">
                    <Table  id="box2"class="boxTable">
                        <tr>
                            <td id="boxa8"> </td>
                            <td id="boxb8"> </td>
                            <td id="boxc8"> </td>
                            <td id="boxd8"> </td>
                            <td id="boxe8"> </td>
                            <td id="boxf8"> </td>
                            <td id="boxg8"> </td>
                            <td id="boxh8"> </td>
                        </tr>
                        <tr>
                            <td id="boxa7"> </td>
                            <td id="boxb7"> </td>
                            <td id="boxc7"> </td>
                            <td id="boxd7"> </td>
                            <td id="boxe7"> </td>
                            <td id="boxf7"> </td>
                            <td id="boxg7"> </td>
                            <td id="boxh7"> </td>
                        </tr>
                    </Table>
                </div>
            

            <div class="col-md-6"></div>
            <div class="col-md-6">
                <Table id="box1" class="boxTable">
                    <tr>
                        <td id="boxa2"> </td>
                        <td id="boxb2"> </td>
                        <td id="boxc2"> </td>
                        <td id="boxd2"> </td>
                        <td id="boxe2"> </td>
                        <td id="boxf2"> </td>
                        <td id="boxg2"> </td>
                        <td id="boxh2"> </td>
                    </tr>
                    <tr>
                        <td id="boxa1"> </td>
                        <td id="boxb1"> </td>
                        <td id="boxc1"> </td>
                        <td id="boxd1"> </td>
                        <td id="boxe1"> </td>
                        <td id="boxf1"> </td>
                        <td id="boxg1"> </td>
                        <td id="boxh1"> </td>
                    </tr>
                </Table>
            </div>


            </div>
        <div class="col-md-6" style="background-color: #5D3100;
    padding-right: 0px;
    padding-left: 0px;">
            <!-- Доска -->
            <div class="col-md-12" style="
    padding-right: 0px;
    padding-left: 0px;
    background-color: #5D3100">
                <TABLE id="Desk" BORDER="0" class="text-center" style="background-color: #7d4d07">

                    <tr class="mainTable">
                        <th>8</th>
                        <td id="Maina8" class="white"> </td>
                        <td id="Mainb8" class="black"> </td>
                        <td id="Mainc8" class="white"> </td>
                        <td id="Maind8" class="black"> </td>
                        <td id="Maine8" class="white"> </td>
                        <td id="Mainf8" class="black"> </td>
                        <td id="Maing8" class="white"> </td>
                        <td id="Mainh8" class="black"> </td>
                    </tr>
                    <tr class="mainTable">
                        <th>7</th>
                        <td id="Maina7" class="black"> </td>
                        <td id="Mainb7" class="white"> </td>
                        <td id="Mainc7" class="black"> </td>
                        <td id="Maind7" class="white"> </td>
                        <td id="Maine7" class="black"> </td>
                        <td id="Mainf7" class="white"> </td>
                        <td id="Maing7" class="black"> </td>
                        <td id="Mainh7" class="white"> </td>
                    </tr>
                    <tr class="mainTable">
                        <th>6</th>
                        <td id="Maina6" class="white"> </td>
                        <td id="Mainb6" class="black"> </td>
                        <td id="Mainc6" class="white"> </td>
                        <td id="Maind6" class="black"> </td>
                        <td id="Maine6" class="white"> </td>
                        <td id="Mainf6" class="black"> </td>
                        <td id="Maing6" class="white"> </td>
                        <td id="Mainh6" class="black"> </td>
                    </tr>
                    <tr class="mainTable">
                        <th>5</th>
                        <td id="Maina5" class="black"> </td>
                        <td id="Mainb5" class="white"> </td>
                        <td id="Mainc5" class="black"> </td>
                        <td id="Maind5" class="white"> </td>
                        <td id="Maine5" class="black"> </td>
                        <td id="Mainf5" class="white"> </td>
                        <td id="Maing5" class="black"> </td>
                        <td id="Mainh5" class="white"> </td>
                    </tr>
                    <tr class="mainTable">
                        <th>4</th>
                        <td id="Maina4" class="white"> </td>
                        <td id="Mainb4" class="black"> </td>
                        <td id="Mainc4" class="white"> </td>
                        <td id="Maind4" class="black"> </td>
                        <td id="Maine4" class="white"> </td>
                        <td id="Mainf4" class="black"> </td>
                        <td id="Maing4" class="white"> </td>
                        <td id="Mainh4" class="black"> </td>
                    </tr>
                    <tr class="mainTable">
                        <th>3</th>
                        <td id="Maina3" class="black"> </td>
                        <td id="Mainb3" class="white"> </td>
                        <td id="Mainc3" class="black"> </td>
                        <td id="Maind3" class="white"> </td>
                        <td id="Maine3" class="black"> </td>
                        <td id="Mainf3" class="white"> </td>
                        <td id="Maing3" class="black"> </td>
                        <td id="Mainh3" class="white"> </td>
                    </tr>
                    <tr class="mainTable">
                        <th>2</th>
                        <td id="Maina2" class="white"> </td>
                        <td id="Mainb2" class="black"> </td>
                        <td id="Mainc2" class="white"> </td>
                        <td id="Maind2" class="black"> </td>
                        <td id="Maine2" class="white"> </td>
                        <td id="Mainf2" class="black"> </td>
                        <td id="Maing2" class="white"> </td>
                        <td id="Mainh2" class="black"> </td>
                    </tr>
                    <tr class="mainTable">
                        <th>1</th>
                        <td id="Maina1" class="black"> </td>
                        <td id="Mainb1" class="white"> </td>
                        <td id="Mainc1" class="black">
                        <div class="a"><a><img class="Figures ui-draggable ui-draggable-handle" 
                        onmousedown="mouseDown()" id="BR2" src="~/img/BRook.png" width="62" height="70" style="position:inherit"></a></div> </td>
                        <td id="Maind1" class="white"> </td>
                        <td id="Maine1" class="black"> </td>
                        <td id="Mainf1" class="white"> </td>
                        <td id="Maing1" class="black"> </td>
                        <td id="Mainh1" class="white"> </td>
                    </tr>
                    <TR>
                        <TH COLSPAN=1 style="text-align:center; background-color: #7d4d07"></TH>
                        <TH COLSPAN=1 style="text-align:center; background-color: #7d4d07">A</TH>
                        <TH COLSPAN=1 style="text-align:center; background-color: #7d4d07">B</TH>
                        <TH COLSPAN=1 style="text-align:center; background-color: #7d4d07">C</TH>
                        <TH COLSPAN=1 style="text-align:center; background-color: #7d4d07">D</TH>
                        <TH COLSPAN=1 style="text-align:center; background-color: #7d4d07">E</TH>
                        <TH COLSPAN=1 style="text-align:center; background-color: #7d4d07">F</TH>
                        <TH COLSPAN=1 style="text-align:center; background-color: #7d4d07">G</TH>
                        <TH COLSPAN=1 style="text-align:center; background-color: #7d4d07">H</TH>
                    </TR>

                </TABLE>
            </div>

        </div>

        <div class="col-md-3">

            <div class="textbox">
                <textarea cols="20" rows="25" name="koord" id="notation">Нотация</textarea>  <br>
                <input type="button" name="button" onclick="loadGame()" value="Новая игра">
                <input type="button" name="button" onclick="saveGame()" value="Сохранить игру">
                <input type="button" name="button" onclick="deleteGame()" value="Удалить игру">
                <input type="button" name="button" onclick="loadSavedGame()" value="Загрузить игру">
                <input type="button" name="button" onclick="deleteAllGames()" value="Удалить все игры">
            </div>
           
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-3">
        <img src="~/img/dragontail.png" alt="dragon" style="width:300px;height:225px">
    </div>
    <div class="col-md-6">
        <div class="textbox1">
            <textarea cols="600" rows="3" name="pgn" id="pgn">pgn</textarea>
    </div>
        </div>
    </div>
